@charset "UTF-8";

body, h1, h2, p {
	margin: 0;
	padding: 0;
}

.hidden {
	display: none;
}

.clearfix::after {
	content: "";
	clear: left;
	display: block;
	clear: both;
	display: block;
}

/* ---------------------------------------------------------------------- */
.main {
	min-height: 950px;
	width: 100%;
	background: white;
}

.sr-container {
	z-index: 1;
	min-height: inherit;
	height: 100%;
	width: 1400px;
	margin: auto;
	background: inherit;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	top: 0px;
	pointer-events: auto;
	bottom: 0px;
	left: calc(490px - ((( 100vw - 17px)- 160px)/2));
	right: calc(490px + ((( 100vw - 17px)- 160px)/2));
	overflow: hidden;
	clip: rect(0px, 1164px, 962px, 0px);
	padding-top: 70px;
}

.title {
	width: 100%;
	height: 180px;
	font-size: 30px;
	text-align: center;
	color: #004080;
	font-family: 맑은 고딕, 고딕, sans-selif;
	font-weight: bold;
	padding-top: 70px;
	background: navy;
}

.title * {
	color: white;
}

/* ----------------------------------------------------------------- */
.sub-title {
	width: 100%;
	height: 45px;
	font-size: 25px;
	text-align: center;
	color: #800040;
	font-family: 맑은 고딕, 고딕, sans-selif;
	font-weight: bold;
	padding-top: 10px;
	padding-right: 45px;
}

.main h2 {
	padding-left: 13px;
	font-size: 24px;
	font-weight: bold;
	padding-bottom: 20px;
}

.line-navy {
	border-top: 3px solid #004080;
}

.line-red {
	border-top: 3px solid #940c38;
}

.table {
	display: table;
	width: 900px;
}

.table tr, .table .tr {
	display: table-row;
	height: 30px;
	line-height: 30px;
}

.table tr td, .table tr th, .table .tr .td, .table .tr .th {
	display: table-cell;
	border-bottom: 1px solid #e9e9e9;
	text-align: center;
	line-height: 2.1;
}

.table tr th, .table .tr .th {
	background: #f5f5f5;
}

.table tr td a, .table .tr .td a {
	text-decoration: none;
	color: #000000;
}

.table tr td.text-left, .table tr th.text-left, .table .tr .td.text-left,
	.table .tr .th.text-left {
	text-align: left;
	padding-left: 30px;
	text-overflow: ellipsis;
}

.search-form {
	padding-bottom: 13px;
	    display: inline-flex;
}

.pad {
	padding-top: 15px;
}

.search-list {
	padding-bottom: 0px;
	min-height: 50px;
	min-width: 300px;
	background: #ffffff;
}

.search-list ul {
	border: 1px solid #b1b1b1;
	padding-top: 20px;
	padding-bottom: 14px;
	overflow: hidden;
	top: 7px;
	padding-left: 0;
}

.search-list li {
	display: inline-block;
	border-right: 1px solid #c0c0c0;
	min-width: 170px;
	overflow: hidden;
	text-align: center;
}

.search-list li:last-child {
	border-right: none;
}

.search-list a {
	font-family: 맑은 고딕, 고딕, sans-serif;
	font-size: 15px;
	color: #646464;
	text-decoration: none;
}

.search-list a:hover {
	font-weight: bold;
	fontsize: 16px;
	color: #4d4d4d;
}

.ctg {
	left: 550px;
	height: 24px;
	padding-top: 1px;
	border-radius: 4px;
	border: 1px solid #646464;
}

.input-text {
	left: 632px;
	height: 26px;
	border-radius: 4px;
	border: 1px solid #646464;
}

.num * {
	float: left;
	padding-right: 5px;
	text-decoration: none;
	color: #808080;
}

.num *:hover {
	color: #ff8040;
}

.num {
	float: left;
	display: inline-block;
	padding-top: 15px;
	padding-left: 340px;
}

.num div a:hover {
	color: #004080;
}

.btn {
	left: 806px;
	display: inline-block;
	border: 0px;
	cursor: pointer;
	overflow: hidden;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	padding: 4px 12px;
	color: #ffffff;
	font-weight: bold;
}

.btn-default {
	background: #353535;
}

.btn-padding {
	padding-left: 813px;
}

.btn-default:hover {
	text-decoration: none;
	background: #ff8080;
	border-color: #ff8080;
}

.write{
	padding-left: 494px;
}
.write a{
	left: 806px;
	display: inline-block;
	border: 0px;
	cursor: pointer;
	overflow: hidden;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	padding: 4px 12px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	background: #004080;
}
.write a:hover{
	background: #ff8080;
}

.num div {
	font-weight: bold;
}

.num div a:hover {
	color: #008080;
}

.num ul {
	text-decoration: none;
	list-style-type: none;
	margin: 0;
	padding: 0px 15px;
}

/*---------detail-----------------------------------------*/
.dt-table {
	display: table;
	width: 900px;
	padding: 20px 0px;
}

.dt-table tr, .dt-table .tr {
	display: table-row;
	height: 30px;
	line-height: 30px;
}

.dt-table tr td, .dt-table tr th, .dt-table .tr .td, .dt-table .tr .th {
	display: table-cell;
	border-top: 1px solid #e9e9e9;
	text-align: center;
	line-height: 2.1;
}

.dt-table tr th, .dt-table .tr .th {
	background: #f5f5f5;
}

.dt-table tr td a, .dt-table .tr .td a {
	text-decoration: none;
	color: #000000;
}

.dt-table tr td.text-left, .dt-table tr th.text-left, .dt-table .tr .td.text-left,
	.dt-table .tr .th.text-left {
	text-align: left;
	padding-left: 30px;
	text-overflow: ellipsis;
}

tr td.content {
	text-align: left;
    height: 100px;
    vertical-align: baseline;
    padding: 25px 10px;
}

/* ------------------comment--------------------------------------------- */

.dt-container {
	z-index: 1;
	min-height: 100%;
	height: 100%;
	width: 1400px;
	margin: auto;
	background: inherit;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	top: 0px;
	pointer-events: auto;
	bottom: 0px;
	left: calc(490px - ((( 100vw - 17px)- 160px)/2));
	right: calc(490px + ((( 100vw - 17px)- 160px)/2));
	overflow: hidden;
	clip: rect(0px, 1164px, 962px, 0px);
	padding-top: 70px;
}

.comment {
	padding-top: 20px;
	border-top: 2px solid #004080;
	display: block;
	width: 900px;
}

.comment .cm-sub1{
	padding-bottom: 10px;
}
.comment .cm-sub2{
}
  
.comment .cm-table{
	background: #ebebeb;
	border-radius: 2px;
}
.comment .cm-table tr{
	border-top: 1px solid #black;
	padding-top: 10px;
}

.comment .reg-table{
	padding: 10px 0px;
}

.save-btn {
	left: 806px;
	display: inline-block;
	border: 0px;
	cursor: pointer;
	overflow: hidden;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	padding: 22px 22px;
	color: #ffffff;
	font-weight: bold;
	font-size: 20px;
	background: #004080
}

.save-btn:hover {
	background: #ff8080
}

textarea {
	padding: 5px 7px;
	border-radius: 4px;
	margin-left: 10px;
}
td.nick{
	min-width: 50px;
    text-align: center;
    padding-left: 9px;
}
td.cont{
	padding: 4px 10px;
}

/* -------------reg----------------------------------------------- */

/* .introduce{
	text-align: left;
	color: black;
	font-family: 맑은 고딕, 고딕, sans-selif;	
	pading: 30px;
}
 */
.rg-table {
	border-collapse: collapse;
	text-align: left;
	line-height: 1.5;
	border-top: 1px solid #ccc;
	border-left: 3px solid #369;
	margin-left: 19px;
	margin-top: 35px;
	margin-bottom: 27px;
}

.rg-table th {
	min-width: 10px;
	padding: 10px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	color: #153d73;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.rg-table td {
	min-width: 100px;
	padding: 10px;
	text-align: left;
	vertical-align: middle;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.input{
	width: -webkit-fill-available;
	text-align: left;
	border: none;
	padding: 5px 2px;
}