@charset "UTF-8";

body, h1, h2 {
	margin: 0;
}

.hidden {
	display: none;
}

.clearfix::after {
	content: "";
	clear: left;
	display: block;
	clear: both;
	display: block;
}


/* ---------------------------------------------------------------------- */
.main {
	min-height: 950px;
	width: 100%;
	background: white;
}

.sv-container {
	z-index: 1;
	min-height: inherit;
	height: 100%;
	width: 1400px;
	margin: auto;
	background: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0px;
	pointer-events: auto;
	bottom: 0px;
	left: calc(490px - ((( 100vw - 17px)- 160px)/2));
	right: calc(490px + ((( 100vw - 17px)- 160px)/2));
	overflow: hidden;
	clip: rect(0px, 1164px, 962px, 0px);
	padding-top: 10px;
}
.img{
	width:700px;
	height:700px;
	background: #f2eeed;
}
.epl{
	width:700px;
	height:700px;
	background: #f0f2f5;
	text-align: center;
}

.epl p{
	padding-top: 160px;
	font-size: 19px;
	font-family: 맑은 고딕, 고딕, sans-selif;
	font-weight: bold;
}

.epl a{
	color: #000000;
	font: normal normal normal 40px/1.4em cinzel, serif;
	border: 2px solid #000;
	cursor: pointer;
	font-size: 25px;
	text-decoration: none;
	padding: 8px 18px;
	text-align: center;
}

.epl a:hover{
	border: 1px solid #fff;
	color: #fff;
	background: #004080;
}

/* ------list------------------------------------------------------------ */

.form{
	width:700px;
	height:700px;
	background: #f0f2f5;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

#SurveyForm{
	width: 300px;
	min-height: 500px;
	display: flex;
	align-items: center;
	flex-direction: column;
}


.btn {
	display: inline-block;
	border: 0px;
	cursor: pointer;
	overflow: hidden;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	padding: 8px 0px;
	color: #ffffff;
	font-weight: bold;
	font-size: 18px;
	width: 420px;
	background: #54657e;
}

.btn:hover {
	text-decoration: none;
	background: #ff8080;
	border-color: #ff8080;
}

.btns{
	padding: 15px 0px;
}

.question{
	font-weight: bold;
	font-size: 22px;
	min-width: 500px;
	padding-bottom: 15px;
}

.table{
	padding-top: 15px;
}

.table tr.select, .table tr.select td{
	padding-top: 10px;
}
.table tr.select td.w70{
	min-width: 0px;
}
/* .table tr.question td.w140{
	min-width: 100px;
} */

.text-left{
	text-align: left;
}
/* ----------------------------------------------------------------- */

.form2{
	width:700px;
	height:700px;
	background: #f0f2f5;
	text-align: center;
	flex-direction: column;
	display: flex;
	align-items: center;
	justify-content: center;
}

#DiseaseForm{
	border-top: 1.5px solid black;  
}

.h2{
	padding-bottom: 20px;
}

.hospital{
	padding-top: 20px;
}

/* --------------------------------------------------- */
.footer {
	text-align: center;
	width: 100%;
	height: 50px;
}

.footer p {
	font-weight: bold;
	color: #808080;
}