@charset "UTF-8";

body, h1, h2, p {
	margin: 0;
	padding: 0;
}

.hidden {
	display: none;
}

.clearfix::after {
	content: "";
	clear: left;
	display: block;
	clear: both;
	display: block;
}


.main {
	min-height: 550px;
	width: 100%;
	background: white;
}

.nt-container {
	z-index: 1;
	min-height: inherit;
	height: 560px;
	width: 1400px;
	margin: auto;
	background: inherit;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	top: 0px;
	pointer-events: auto;
	bottom: 0px;
	left: calc(490px - ((( 100vw - 17px)- 160px)/2));
	right: calc(490px + ((( 100vw - 17px)- 160px)/2));
	overflow: hidden;
	clip: rect(0px, 1164px, 962px, 0px);
	padding-top: 100px;
}

.title{
	width:100%;
	height: 180px;
	font-size: 30px;
	text-align: center;
	color: #004080;
	font-family: 맑은 고딕, 고딕, sans-selif;
	font-weight: bold;
	padding-top: 70px; 
}

/* -------------------------------------------------------------------------------- */

input[type="text"] {
	width: 160px;
	min-height: 27px;
/* 	border: 2px solid #999999; */
	border-radius: 4px;
	padding-left: 5px;
}

input[type="submit"] {
	border: none;
	background: #353535;
	color: white;
	font-weight: bold;
	font-family: 맑은 고딕, 고딕, sans-selif;
	width: 55px;
	min-height: 28px;
	border-radius: 4px;
	padding: 1px;
}

input[type="submit"]:hover {
	text-decoration: none;
	background: #ff8040;
	border-color: #ff8040;
}

.search {
	padding-bottom: 8px;
	padding-left: 670px;
}

.w100 {
	width: 100px;
}

.w115 {
	width: 115px;
}

.w130 {
	width: 130px;
}
.w321{
	width:250px;
}
.w850{
	width:683px;
}

.h45{
	height: 40px;
}
.h104{
	height: 140px;
}

.none-border{
	border: 0px;
}
.pad{
	float:left;
	padding-top: 12px;
	padding-left: 800px;
}

.main h2{
	padding-left: 13px;
	font-size: 24px;
	font-weight: bold;
	padding-bottom: 20px;
}

.table {
	display: table;
	width: 900px;
	border-top: 3px solid #004080;
}

.table tr, .table .tr {
	display: table-row;
	height: 30px;
	line-height: 30px;
}

.table tr td, .table tr th, .table .tr .td, .table .tr .th {
	display: table-cell;
	border-bottom: 1px solid #e9e9e9;
	text-align: center;
	line-height: 2.3;
}

.table tr th, .table .tr .th {
	background: #f5f5f5;
}
.table tr td a, .table .tr .td a {
	text-decoration: none;
	color: #000000;
}

.table tr td.text-left, .table tr th.text-left,
.table .tr .td.text-left, .table .tr .th.text-left {
	text-align: left;
	padding-left: 30px;
	text-overflow: ellipsis;
}

.num * {
	float: left;
	padding-right: 5px;
	text-decoration: none;
	color: #808080;
}

.num *:hover{
	color: #ff8040;
}

.num {
	float: left;
	display: inline-block;
	padding-top: 15px;
}

.num div{
	font-weight: bold;
}
.num div a:hover{
	color: #008080;
}

.num ul{
	text-decoration: none;
	list-style-type: none;
	margin: 0;
    padding: 0px 15px;
}

/* detail page */
.dt-table {
	border-collapse: collapse;
	text-align: left;
	line-height: 1.5;
	border-top: 1px solid #ccc;
	border-left: 3px solid #369;
	margin-left: 30px;
	margin-top: 45px;
	margin-bottom: 17px;
}

.dt-table th {
	min-width: 270px;
	padding: 10px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	color: #153d73;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.dt-table td {
	min-width: 100px;
	padding: 10px;
	text-align: left;
	vertical-align: middle;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}


.btn {
	display: inline-block;
	border: 0px;
	cursor: pointer;
	overflow: hidden;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	padding: 2px 8px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	background: #246682;
}

#btn {
	display: inline-block;
	border: 0px;
	cursor: pointer;
	overflow: hidden;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	padding: 2px 8px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	background: #246682;
}

.btn-default {
	background: #246682;
}

.btn-default:hover {
	text-decoration: none;
	background: #ff8040;
	border-color: #ff8040;
}

.btn-pad{
	padding-left: 740px;
}
.btn-pad2{
	padding-left: 700px;
}
.btn-pad3{
	padding-left: 808px;
}
.btn-pad4{
	padding-left: 461px;
}