@charset "UTF-8";


body, h1, h2 {
	margin: 0;
}

.hidden {
	display: none;
}

.clearfix::after {
	content: "";
	clear: left;
	display: block;
	clear: both;
	display: block;
}


/* ---------------------------------------------------------------------- */
.main {
	min-height: 950px;
	width: 100%;
	background: white;
}

.sv-container {
	z-index: 1;
	min-height: inherit;
	height: 100%;
	width: 1400px;
	margin: auto;
	background: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0px;
	pointer-events: auto;
	bottom: 0px;
	left: calc(490px - ((( 100vw - 17px)- 160px)/2));
	right: calc(490px + ((( 100vw - 17px)- 160px)/2));
	overflow: hidden;
	clip: rect(0px, 1164px, 962px, 0px);
	padding-top: 10px;
}
.img{
	width:700px;
	height:700px;
	background: #f2eeed;
}
.epl{
	width:700px;
	height:700px;
	background: #f0f2f5;
	text-align: center;
}
.epl p{
	margin-bottom: 9px;
}

.join-form input[type=text], .join-form input[type=password]{
	padding-left: 5px;
    line-height: 20px;
    width: 200px;
    text-align: center;
}

.join-logo{
	padding-top: 50px;
}

.join-form{
	padding-bottom: 50px;
    padding-top: 20px;
}


.btn {
	display: inline-block;
	border: 0px;
	cursor: pointer;
	overflow: hidden;
	background-image: none;
	border: 1px solid #004080;
	padding: 6px 100px;
	color: white;
	font-weight: bold;
	background: #004080;
	height: 40px;
	font-size: 18px;
}

.btn:hover {
	background: #ff8080;
	border: 1px solid #ff8080;
	color: white;
}

/* --------------------------------------------------- */
.footer {
	text-align: center;
	width: 100%;
	height: 50px;
}

.footer p {
	font-weight: bold;
	color: #808080;
}